*{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

.nav-container{
  display: flex;
  align-items: center;
  background-color: #272727;
  padding-left: 5vw;
  padding-right: 5vw;
}

.nav-container h3{
  margin-right: auto;
  color: #61dafb;
  font-size: 25px;
}

.nav-container h4{
  color: #fff;
  font-size: 18px;
}

