body{
    margin: 0;
    padding: 0;
    background-color: rgb(43, 43, 43);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App{
    width: 800px;
    margin: auto;
    background-color: white;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 20px;
}

.nav-bar{
    background-color: darkorange;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

.main-sec{
    width: 90%;
    margin: auto;
    padding: 10px; 
}

.card-sec{
    display: flex;
    height: 40vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
}

.card-sec img{
    height: 100%;
    margin-right: 25px;
    border-radius: 10px;
}

.card-dec h1,h6,p{
    margin: 0;
}
.card-dec a{
    font-size: 14px;
    color: gray;
}

.card-dec h1{
    margin-bottom: 30px;
    margin-top: 5px;
}

.card-dec h6{
    margin-bottom: 3px;
}

